<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "fragments :: html_head" />
</head>

<body>

	<div th:replace = "fragments :: menu(${empName})" ></div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>

    <form th:action="@{/lira/saveDept}" th:object="${dept}" method="post">
	
  
  <div class="form-group row">
    <label for="orgId" class="col-sm-2 col-form-label">Department Id</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{deptId}"  class="form-control-plaintext" id="deptId" >
    </div>
  </div>
  <div class="form-group row">
    <label for="deptName" class="col-sm-2 col-form-label">Department Name</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{deptName}"  class="form-control-plaintext" id="deptName" >
    </div>
  </div>
  <div class="form-group row">
    <label for="orgName" class="col-sm-2 col-form-label">Organization Name</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{orgName}"  class="form-control-plaintext" id="orgName" >
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{description}" class="form-control-plaintext" id="description" >
    </div>
  </div>
  
  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary btn-md">Save</button>
    </div>
  </div>
</form>

</body>
</html>



