<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head" />
</head>

<body>
	<div th:replace="fragments :: menu(${empName})"></div>
	

	
	
			<br>
		<br>
					
				<br>
				<br>
				<br>			<br>
				<br>
			<div class="container">	

      <div class="form-group row" th:object="${EMReport}" style="background: yellow;">
    <label for="reporttype" class="col-sm-2 col-form-label">Report Type</label>
    <div class="col-sm-10"><select th:onchange="window.location.href=this.value" id="mainreporttype">
    <option th:value="@{/lira/showFormForProjectReport(projectId=${EMReport.getProj_id()},reporttype=1)}" th:text="PYE">PYE</option>
    <option th:value="@{/lira/showFormForProjectReport(projectId=${EMReport.getProj_id()},reporttype=2)}" th:text="EM" selected>EM</option>
    <option th:value="@{/lira/showFormForProjectReport(projectId=${EMReport.getProj_id()},reporttype=3)}" th:text="FM">FM</option>
    <option th:value="@{/lira/showFormForProjectReport(projectId=${EMReport.getProj_id()},reporttype=4)}" th:text="REC">REC</option>
    <option th:value="@{/lira/showFormForProjectReport(projectId=${EMReport.getProj_id()},reporttype=5)}" th:text="SELEC">SELEC</option>
 
</select></div></div>
<br>
				<br>
				<br>
				<br>
<div class="container">
	
		
			<div >
    <form th:action="@{/lira/generatereportem}" th:object="${EMReport}" method="post">
  		
  
  
  <div class="form-group row">
    <label for="proj_id" class="col-sm-2 col-form-label">Project ID</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{proj_id}" class="form-control-plaintext" id="proj_id" >
    </div>
  </div>
  <div class="form-group row">
    <label for="reporttype" class="col-sm-2 col-form-label">Report Type</label>
    <div class="col-sm-10">
      <select >
    <option value="pye">PYE</option>
    <option value="em" selected>EM</option>
    <option value="fm">FM</option>
    <option value="rec">REC</option>
    <option value="selec">SELEC</option>
 
</select></div>
  </div>
  <div class="form-group row">
    <label for="analyte" class="col-sm-2 col-form-label">Analyte</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{analyte}" class="form-control-plaintext" id="analyte" >
    </div>
  </div>
  
  <div class="form-group row">
    <label for="internal_std" class="col-sm-2 col-form-label">Internal Standard</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{internal_std}" class="form-control-plaintext" id="internal_std" >
    </div>
  </div>
  <div class="form-group row">
    <label for="aquisition_id" class="col-sm-2 col-form-label">Acqisition ID</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{aquisition_id}" class="form-control-plaintext" id="aquisition_id" >
    </div>
  </div>
  <div class="form-group row">
    <label for="arearatio_comment" class="col-sm-2 col-form-label">Area Ratio Comment</label>
    <div class="col-md-2">
      <textarea id="arearatio_comment"  th:field="*{arearatio_comment}" name="arearatio_comment" rows="4" cols="50"></textarea>
    </div>
  </div>
  
   
  <div class="form-group row">
    <label for="qccomment" class="col-sm-2 col-form-label">OC Comment</label>
    <div class="col-sm-10">
      <textarea id="qccomment" th:field="*{qccomment}" name="qccomment" rows="4" cols="50"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="arearatio_by" class="col-sm-2 col-form-label">Area Ratio Reviewed by</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{arearatio_by}" class="form-control-plaintext" id="arearatio_by" >
    </div>
  </div>
  <div class="form-group row">
    <label for="qcreview_by" class="col-sm-2 col-form-label">OC Reviewed by</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{qcreview_by}" class="form-control-plaintext" id="qcreview_by" >
    </div>
  </div>
  <div class="form-group row">
    <label for="noof_samples" class="col-sm-2 col-form-label">Number of Samples</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{noof_samples}" class="form-control-plaintext" id="noof_samples" >
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary btn-md">Generate Report</button>
    </div>
  </div>
  </form>
  </div>
  </div>
  </div>
  

</body>
	
 

</html>



