<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head" />
</head>

<body>
	<form th:action="@{/lira/showGroupCreateForm}" method="get">
		<div th:replace="fragments :: menu(${empName})"></div>

		<br> <br> <br> <br> <br> <br>
		<div class="form-group">
			<button type="submit" name="createGroup" id="createGroup" class="btn btn-primary btn-sm">Create Group</button>
		</div>
		<table class="table table-bordered table-striped">
			<thead class="thead">
				<tr>
					<th>Group Id</th>
					<th>Group Name</th>
					
					<th>Organization Name</th>
					<th>Description</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempGroup : ${groups}">
					<td th:text="${tempGroup.groupId}" />
					<td th:text="${tempGroup.groupName}" />
					<td th:text="${tempGroup.orgName}" />
					<td th:text="${tempGroup.description}" />
					<td><a
						th:href="@{/lira/showFormForUpdateGroup(groupId=${tempGroup.getGroupId()})}">Edit</a>
					</td>
					<td><a
						th:href="@{/lira/deleteGroup(groupId=${tempGroup.getGroupId()})}"
						onClick="if(!confirm('Are you sure you want to delete this group?')) return false">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-sm">Create	Organization</button>
		</div>

	</form>
</body>
</html>



